html{
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: 400;
}
.container{
    max-width: 1200px;
    margin: auto;
}
/*----------header starts---------*/
header{
    padding: 22px 0;

}
header .container{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 20px 0 22px;
}
header ul{
    display: flex;
}
header li{
    margin-left: 32px;
}
header a{
    font-size: 15px;
    line-height: 24px;
    color: #1B1A1A;
}
.last{
    padding: 11px 20px;
    border-radius: 14px;
    background: #1B1A1A;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
}
/*----------header end---------*/
/*----------section(wishbone_part_1)starts-----*/
.wishbone_part_1{
    padding: 137px 0 128px;
    background-color: #ECE7E4;
    position: relative;
}
.right_side_s1{
    max-width: 1240px;
    margin: auto;
}
.right_side_s1 h3{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55; margin-bottom: 20px;
}
.right_side_s1 h1{
    font-size: 64px;
    line-height: 70px;
    color: #1B1A1A;
    margin-bottom: 18px;
}
.right_side_s1 p{
    max-width: 509px;
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;
    margin-bottom: 30px;
}
.right_side_s1 a{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
    margin-left: 25px;
}
.bg_s1{
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-image: url('../images/IMAGE.jpg');
    background-size: cover;
}
/*----------section(wishbone_part_1)end-----*/
/*----------section(Our firm)starts---------*/
.our_firm{
    padding: 100px 0 100px;
}
.our_firm .container{
    max-width: 768px;
    display: flex;
    justify-content: space-between;
}
.our_firm h3{
    font-size: 32px;
    line-height: 38px;
    color: #403E3B;
    max-width: 134px;
    width: 100%;
}
.about_our_firm{
    max-width: 501px;
}
.about_our_firm blockquote{
    font-size: 16px;
    line-height: 24px;
    color: #403E3B;
}
.about_our_firm p{
    margin-bottom: 10px;
    max-width: 493px;
}
.about_our_firm .employee{
    margin-top: 18px;
}
/*----------section(Our firm)ends-----------*/
/*----------section(Reeding house+the marble staircase+the swirling staircase starts)---*/
.reeding_house{
    background-image: url("../images/reeding_house_bg.jpg");
}
.the_marble_staircase{
    background-image: url("../images/marble_staircase_bg.jpg");
}
.reeding_house, .the_marble_staircase, .the_swirling_staircase{
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 75px;
    min-height: 600px;
}
.reeding_house_info, .the_swirling_staircase_info, .the_marble_staircase_info{
    max-width: 285px;
}
.reeding_house_info h5, .the_swirling_staircase_info h5, .the_marble_staircase_info h5{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #403E3B;
}
.reeding_house_info p, .the_swirling_staircase_info p, .the_marble_staircase_info p{
    font-size: 16px;
    line-height: 24px;
    color: #645C55;
}
.the_swirling_staircase{
    background-image: url("../images/swirling_staircase_bg.jpg");
    padding-left: 60px;
    justify-content: start;
}
/*----------section(Reeding house+the marble staircase+the swirling staircase ends)-----*/
/*----------section(process)starts----------*/
.process{
    padding: 100px 0;
}
.process h3{
    margin-bottom: 13px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}
.process h2{
    margin-bottom: 47px;
    font-size: 39px;
    line-height: 42px;
    text-align: center;
    color: #1B1A1A;
}
.process_articles{
    display: flex; justify-content: space-around;
}
.process_articles article{
    max-width: 379px; text-align: center;
}
.process_articles h4{
    margin-bottom: 10px;
    text-align: center;
    color: #403E3B;
    margin-top: 15px;
}
.sketching h4{
    font-size: 18px;
    line-height: 26px;
}
.finalizing h4{
    font-size: 17px;
    line-height: 26px;
}
.building h4{
    font-size: 17px;
    line-height: 26px;
}
.process_articles p{
    line-height: 24px;
    text-align: center;
    color: #645C55;
    font-size: 16px;
}
.sketching p{
    font-size: 15px;
    max-width: 294px;
}
.finalizing p{
    max-width: 292px;
}
.building p{
    max-width: 285px;
}
/*----------section(process)end----------*/
/*----------clients starts---------------*/
.clients{
    background: #403E3B;
    padding: 124px 0 108px;
}
.clients .container{
    max-width: 1168px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.clients_left h4{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ECE7E4;
    margin-top: 35px;
    max-width: 592px;
}
.clients_left h3{
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
}
.clients_left p{
    max-width: 451px;
    font-size: 15px;
    line-height: 24px;
    color: #ECE7E4;
}
.clients_img_1{
    display: flex;
    margin-bottom: 96px;
}
.clients_img_1 img:last-of-type, .clients_img_2 img:last-of-type{
    margin-left: 96px;
}
.clients_right{
    margin-right: 184px;
}
/*----------clients ends-----------------*/
/*----------team starts------------------*/
.team{
    padding: 100px 0 100px;
}
.team .container{
    max-width: 1168px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}
.team h3{
    font-size: 32px;
    line-height: 38px;
    color: #403E3B;
}
.team h4{
    font-size: 17px;
    line-height: 26px;
    color: #1B1A1A;
}
.team p{
    font-size: 15px;
    line-height: 24px;
    color: #645C55;
    max-width: 358px;
    box-sizing: border-box;
    margin-top: 14px;
}
.team a{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
    margin: 41px 0 0 20px;
    display: inline-block;
}
.team_staff{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.employee{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 50%;
    width: 100%;
    margin-bottom: 52px;
}
.employee_info{
    display: flex;
    flex-direction: column;
}
.employee img{
    height: 84px;
    width: 84px;
    margin-right: 30px;
}
.employee_info p{
    font-size: 14px;
    line-height: 14px;
    color: #645C55;
    margin-top: 0;
}
.team_content{
    margin-right: 37px;
}
/*----------team ends--------------------*/
/*----------section(get_in_touch)starts--*/
.get_in_touch{
    background: #CEC4BC;
    padding: 100px 0;
}
.get_in_touch .container{
    max-width: 1168px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.get_in_touch .container div{
    max-width: 576px;
}
.get_in_touch_right a{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #645C55;
}
.get_in_touch h3{
    font-size: 40px;
    line-height: 42px;
    color: #1B1A1A;
}
.get_in_touch_left {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #1B1A1A;
}
/*----------section(get_in_touch)ends--*/
/*----------footer starts--------------*/
footer{
    padding: 60px 0;
}
footer .container{
    max-width: 1168px;
    display: flex;
    justify-content: space-between;
}
.footer_logo{
    margin-bottom: 20px;
}
footer p{
    font-size: 14px;
    line-height: 20px;
    color: #645C55;
}
footer ul{
    display: flex;
    align-items: flex-end;
}
footer li{
    margin-left: 20px;
}
